/* =========================
   GOOGLE FONT RESET
========================= */

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

html{
    scroll-behavior:smooth;
}

body{
    font-family:'Poppins',sans-serif;
    background:#08111f;
    color:#ffffff;
    overflow-x:hidden;
}

/* =========================
   GLOBAL
========================= */

.container{
    width:90%;
    max-width:1200px;
    margin:auto;
}

a{
    text-decoration:none;
}

ul{
    list-style:none;
}

section{
    padding:100px 0;
}

.section-title{
    text-align:center;
    margin-bottom:60px;
}

.section-title span{
    color:#38bdf8;
    font-size:14px;
    letter-spacing:2px;
    font-weight:600;
}

.section-title h2{
    margin-top:15px;
    font-size:42px;
    line-height:1.3;
    font-weight:700;
}

/* =========================
   NAVBAR
========================= */

.navbar{
    position:fixed;
    width:100%;
    top:0;
    left:0;
    z-index:1000;

    backdrop-filter:blur(20px);

    background:rgba(8,17,31,.85);

    border-bottom:1px solid rgba(255,255,255,.08);
}

.nav-container{
    display:flex;
    align-items:center;
    justify-content:space-between;

    height:80px;
}

.logo h2{
    color:#38bdf8;
    font-size:30px;
    font-weight:700;
}

.nav-links{
    display:flex;
    gap:30px;
}

.nav-links a{
    color:white;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#38bdf8;
}

.nav-btn{
    background:#38bdf8;
    color:#08111f;

    padding:12px 24px;

    border-radius:10px;

    font-weight:600;

    transition:.3s;
}

.nav-btn:hover{
    transform:translateY(-3px);
}

/* =========================
   HERO SECTION
========================= */

.hero{
    padding-top:180px;

    background:
    radial-gradient(circle at top right,
    rgba(56,189,248,.25),
    transparent 35%),

    radial-gradient(circle at bottom left,
    rgba(37,99,235,.20),
    transparent 40%);

}

.hero-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:70px;
    align-items:center;
}

.hero-badge{
    display:inline-block;

    padding:10px 18px;

    border-radius:30px;

    background:
    rgba(56,189,248,.15);

    color:#38bdf8;

    margin-bottom:25px;

    font-size:14px;
}

.hero-left h1{
    font-size:64px;
    line-height:1.15;
    margin-bottom:25px;
}

.hero-left h1 span{
    color:#38bdf8;
}

.hero-left p{
    color:#cbd5e1;
    font-size:18px;
    line-height:1.8;

    margin-bottom:35px;
}

/* =========================
   HERO BUTTONS
========================= */

.hero-buttons{
    display:flex;
    gap:20px;
    margin-bottom:40px;
}

.primary-btn{
    background:#38bdf8;
    color:#08111f;

    padding:15px 28px;

    border-radius:12px;

    font-weight:600;

    transition:.3s;
}

.primary-btn:hover{
    transform:translateY(-3px);
}

.secondary-btn{
    border:1px solid rgba(255,255,255,.15);

    color:white;

    padding:15px 28px;

    border-radius:12px;
}

.secondary-btn:hover{
    background:rgba(255,255,255,.05);
}

/* =========================
   HERO STATS
========================= */

.hero-mini-stats{
    display:flex;
    gap:40px;
}

.hero-mini-stats h3{
    font-size:28px;
    color:#38bdf8;
}

.hero-mini-stats span{
    color:#94a3b8;
}

/* =========================
   GLASS CARD
========================= */

.glass-card{

    background:
    rgba(255,255,255,.06);

    border:
    1px solid rgba(255,255,255,.08);

    backdrop-filter:
    blur(25px);

    border-radius:24px;

    padding:40px;

    text-align:center;
}

.glass-card h3{
    margin-bottom:30px;
    font-size:28px;
}

#countdown{
    display:flex;
    justify-content:center;
    gap:25px;
    margin-bottom:25px;
}

#countdown h2{
    font-size:42px;
    color:#38bdf8;
}

#countdown span{
    color:#cbd5e1;
}

/* =========================
   STATS SECTION
========================= */

.stats-section{
    padding-top:50px;
}

.stats-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.stat-card{

    background:
    rgba(255,255,255,.05);

    border:
    1px solid rgba(255,255,255,.08);

    border-radius:20px;

    padding:35px;

    text-align:center;
}

.stat-card h2{
    color:#38bdf8;
    font-size:42px;
    margin-bottom:10px;
}

.stat-card p{
    color:#cbd5e1;
}
/* =========================
   PAIN SECTION
========================= */

.pain-grid{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:25px;
}

.pain-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:35px;
    transition:.3s;
}

.pain-card:hover{
    transform:translateY(-10px);
    border-color:#38bdf8;
}

.pain-card i{
    font-size:42px;
    color:#38bdf8;
    margin-bottom:20px;
}

.pain-card h3{
    margin-bottom:15px;
    font-size:22px;
}

.pain-card p{
    color:#cbd5e1;
    line-height:1.8;
}

/* =========================
   PROCESS SECTION
========================= */

.process-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.process-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    padding:40px;
    text-align:center;
    position:relative;
}

.step-number{
    width:70px;
    height:70px;

    margin:auto;
    margin-bottom:25px;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;

    background:#38bdf8;
    color:#08111f;

    font-weight:700;
    font-size:22px;
}

.process-card h3{
    margin-bottom:15px;
    font-size:24px;
}

.process-card p{
    color:#cbd5e1;
    line-height:1.8;
}

/* =========================
   MENTOR SECTION
========================= */

.mentors-section{
    background:rgba(255,255,255,.02);
}

.mentor-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.mentor-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    padding:35px;
    text-align:center;
    transition:.3s;
}

.mentor-card:hover{
    transform:translateY(-10px);
    border-color:#38bdf8;
}

.mentor-image{
    width:110px;
    height:110px;

    margin:auto;
    margin-bottom:25px;

    border-radius:50%;

    background:linear-gradient(
        135deg,
        #2563eb,
        #38bdf8
    );

    display:flex;
    align-items:center;
    justify-content:center;

    font-size:45px;
}

.mentor-card h3{
    margin-bottom:10px;
}

.mentor-role{
    color:#38bdf8;
    margin-bottom:20px;
}

.mentor-card ul{
    text-align:left;
    margin-bottom:25px;
}

.mentor-card ul li{
    margin-bottom:10px;
    color:#cbd5e1;
}

.mentor-btn{
    display:inline-block;

    background:#38bdf8;
    color:#08111f;

    padding:12px 22px;
    border-radius:10px;

    font-weight:600;
}

/* =========================
   RESULTS SECTION
========================= */

.results-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.result-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    padding:35px;
    text-align:center;
}

.result-card h3{
    margin-bottom:15px;
}

.score-change{
    font-size:40px;
    font-weight:700;
    color:#38bdf8;
    margin-bottom:15px;
}

.result-card p{
    color:#cbd5e1;
}

/* =========================
   TESTIMONIAL SECTION
========================= */

.testimonial-section{
    background:rgba(255,255,255,.02);
}

.testimonial-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:25px;
}

.chat-card{
    background:#0f172a;
    border:1px solid rgba(255,255,255,.08);
    border-radius:20px;
    padding:30px;
}

.student-msg{
    color:white;
    line-height:1.8;
    margin-bottom:15px;
}

.chat-card span{
    color:#38bdf8;
    font-size:14px;
}

/* =========================
   PARENT SECTION
========================= */

.parent-content{
    display:grid;
    grid-template-columns:1fr 1fr;
    gap:50px;
    align-items:center;
}

.parent-content h2{
    font-size:48px;
    margin-bottom:20px;
}

.parent-content p{
    color:#cbd5e1;
    line-height:1.9;
    margin-bottom:20px;
}

.parent-card{
    background:rgba(255,255,255,.05);
    border:1px solid rgba(255,255,255,.08);
    border-radius:24px;
    padding:40px;
}

.parent-card h3{
    margin-bottom:25px;
}

.parent-card li{
    margin-bottom:15px;
    color:#cbd5e1;
}
/* =========================
   SCORE PREDICTOR
========================= */

.predictor-section{
    background:rgba(255,255,255,.02);
}

.predictor-card{
    max-width:700px;
    margin:auto;

    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:24px;

    padding:50px;

    text-align:center;
}

.predictor-card label{
    display:block;
    margin-bottom:20px;
    font-size:18px;
}

.predictor-card input{
    width:100%;
    margin-bottom:25px;
}

#predictedScore{
    font-size:70px;
    color:#38bdf8;
    margin-bottom:15px;
}

/* =========================
   PRICING
========================= */

.pricing-grid{
    display:grid;
    grid-template-columns:repeat(3,1fr);
    gap:30px;
}

.pricing-card{
    background:rgba(255,255,255,.05);

    border:1px solid rgba(255,255,255,.08);

    border-radius:24px;

    padding:40px;

    text-align:center;

    position:relative;
}

.pricing-card h2{
    color:#38bdf8;
    font-size:48px;
    margin:20px 0;
}

.pricing-card ul{
    margin:30px 0;
}

.pricing-card li{
    margin-bottom:15px;
    color:#cbd5e1;
}

.pricing-btn{
    display:inline-block;

    background:#38bdf8;
    color:#08111f;

    padding:14px 24px;

    border-radius:12px;

    font-weight:600;
}

.popular-plan{
    border:2px solid #38bdf8;
    transform:scale(1.05);
}

.popular-badge{
    position:absolute;
    top:-15px;
    left:50%;
    transform:translateX(-50%);

    background:#38bdf8;
    color:#08111f;

    padding:8px 15px;

    border-radius:30px;

    font-size:14px;
    font-weight:600;
}

/* =========================
   FAQ
========================= */

.faq-container{
    max-width:900px;
    margin:auto;
}

.faq-item{
    margin-bottom:20px;
}

.faq-question{
    width:100%;

    background:#111827;

    color:white;

    border:none;

    text-align:left;

    padding:20px;

    border-radius:12px;

    cursor:pointer;

    font-size:18px;
}

.faq-answer{
    display:none;

    background:#1e293b;

    padding:20px;

    border-radius:0 0 12px 12px;
}

.faq-answer p{
    color:#cbd5e1;
}

/* =========================
   FINAL CTA
========================= */

.final-cta{
    text-align:center;

    background:
    linear-gradient(
        135deg,
        #2563eb,
        #38bdf8
    );
}

.final-cta h2{
    font-size:52px;
    margin-bottom:20px;
}

.final-cta p{
    margin-bottom:30px;
    font-size:18px;
}

.cta-btn{
    display:inline-block;

    background:white;
    color:#08111f;

    padding:16px 30px;

    border-radius:12px;

    font-weight:700;
}

/* =========================
   FOOTER
========================= */

.footer{
    background:#050b16;
    padding-top:70px;
}

.footer-grid{
    display:grid;
    grid-template-columns:2fr 1fr 1fr;
    gap:50px;
}

.footer h3,
.footer h4{
    margin-bottom:20px;
}

.footer p,
.footer li{
    color:#94a3b8;
    margin-bottom:12px;
}

.footer a{
    color:#94a3b8;
}

.copyright{
    margin-top:50px;

    text-align:center;

    padding:25px;

    border-top:1px solid rgba(255,255,255,.08);

    color:#94a3b8;
}

/* =========================
   WHATSAPP BUTTON
========================= */

.whatsapp-float{

    position:fixed;

    bottom:25px;
    right:25px;

    width:65px;
    height:65px;

    border-radius:50%;

    background:#25D366;

    display:flex;
    align-items:center;
    justify-content:center;

    color:white;

    font-size:30px;

    z-index:999;
}

/* =========================
   RESPONSIVE
========================= */

@media(max-width:991px){

    .hero-content,
    .parent-content,
    .footer-grid{
        grid-template-columns:1fr;
    }

    .stats-grid,
    .pain-grid,
    .mentor-grid,
    .results-grid,
    .testimonial-grid,
    .pricing-grid,
    .process-grid{
        grid-template-columns:1fr;
    }

    .hero-left h1{
        font-size:42px;
    }

    .section-title h2{
        font-size:32px;
    }

    .nav-links{
        display:none;
    }

    .popular-plan{
        transform:none;
    }
}

@media(max-width:600px){

    section{
        padding:70px 0;
    }

    .hero{
        padding-top:140px;
    }

    .hero-mini-stats{
        flex-direction:column;
        gap:20px;
    }

    .final-cta h2{
        font-size:34px;
    }

    #predictedScore{
        font-size:48px;
    }
}
/* PREMIUM SCROLLBAR */

::-webkit-scrollbar{
    width:10px;
}

::-webkit-scrollbar-track{
    background:#08111f;
}

::-webkit-scrollbar-thumb{
    background:#38bdf8;
    border-radius:20px;
}

/* CARD HOVER */

.stat-card,
.process-card,
.result-card,
.pricing-card,
.chat-card{
    transition:.35s ease;
}

.stat-card:hover,
.process-card:hover,
.result-card:hover,
.pricing-card:hover,
.chat-card:hover{
    transform:translateY(-8px);
    border-color:#38bdf8;
}

/* SMOOTHER BUTTONS */

.primary-btn,
.secondary-btn,
.pricing-btn,
.cta-btn,
.nav-btn,
.mentor-btn{
    transition:.3s ease;
}
